.mainNav{
    width: 100%;
    background: white;
    font-family: 'Avenir', sans-serif;
   }
  .navicon{
    height: 40px;
    margin: 10px 25px ;
    float: right;
    color: seashell;
   }
  .mainNavDropDown{
    padding-left: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: none;
   }
  .mainNavDropDown li{
    font-size: 20px;
    padding: 25px;
    width: 100%;
    background: seashell;
    border-bottom: 1px solid black;
   }
  .mainNavDropDown li:last-child{
    border-bottom: none;
   }
  .mainNavDropDown li:hover{
    background: white;
    color: seashell
   }
 p {
    font-size: 20px;
 }